{% extends "index-base.html" %}

{% block title %} We Fax all pets {% endblock %}

{% block body %}
    <h1>Welcome to PetFax</h1>
    {% for pet in pets %}
        <div class="container">
            <div class="pets-container">
                <h2>{{ pet.pet_name }}</h2>
                <img src="{{ pet.pet_photo }}" alt="{{ pet.pet_name }}"/>
                <a href="/pets/{{pet.pet_id}}">Learn more...</a>
            </div>
        </div>
    {% endfor %}
    <div class="container">
        <div class="callout">
            We would love to fax more pets - tell us which pets to fax 
            <a href="/facts/new">here</a>
        </div>
    </div>
{% endblock %}